/* Colour */

body {
    background-color: #fefae0;
}

.sidenav li a{
    color: white;
}

/* Home Page  
.card{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}
*/


/* css styling for getting buttons centered in parallax found on https://codepen.io/j_holtslander/pen/NoKqQP */
.parallax-container 
	.valign-wrapper	{
		height: 100%;
    }

.btn-parallax{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 10rem;
}

#login{
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
   justify-content: center;
   
    flex-direction: column;
    /* Got help adding a background overlay shadow to darken the background image here https://stackoverflow.com/questions/36679649/how-to-add-a-color-overlay-to-a-background-image */
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/images/flags.jpg") center center no-repeat;
    background-size: cover;
}

.login{
    color: white;
}

#register{
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
   justify-content: center;
   
    flex-direction: column;
    /* Got help adding a background overlay shadow to darken the background image here https://stackoverflow.com/questions/36679649/how-to-add-a-color-overlay-to-a-background-image */
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/images/pitch.jpg") center center no-repeat;
    background-size: cover;
}

.form{
    background: rgba(84, 85, 59, 0.541);
    
}

.form i{
    color: white;
}

input{
    color: white !important;
    font-size: 25px !important;
}

textarea{
    color: white !important;
    font-size: 25px !important;   
}

#event{
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
   justify-content: center;
   
    flex-direction: column;
    /* Got help adding a background overlay shadow to darken the background image here https://stackoverflow.com/questions/36679649/how-to-add-a-color-overlay-to-a-background-image */
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/images/pitch2.jpg") center center no-repeat;
    background-size: cover;
}

#edit-event{
        min-height: 100vh;
    overflow-x: hidden;
    display: flex;
   justify-content: center;
   
    flex-direction: column;
    /* Got help adding a background overlay shadow to darken the background image here https://stackoverflow.com/questions/36679649/how-to-add-a-color-overlay-to-a-background-image */
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/images/training.jpg") center center no-repeat;
    background-size: cover;
}