/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* home page */

body {
    background-color: #fefae0;
}

.sidenav li a{
    color: white;
}

.brand-logo{
    margin-left: 10px;
    font-size: 1.5rem !important;
}

.title{
    font-size: 4rem;
}

.info-text{
    font-size: 2rem;
}

.card-text{
    color: black;
    font-weight: 400;
}
/* css styling for getting buttons centered in parallax found on https://codepen.io/j_holtslander/pen/NoKqQP */
.parallax-container 
	.valign-wrapper	{
		height: 100%;
    }

.btn-parallax{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
}

/* Form style for login, register, create event and edit event */

.login{
    color: white;
}

.form{
    background: rgba(84, 85, 59, 0.541);
    
}

.form i{
    color: white;
}

input{
    color: white;
    font-size: 25px !important;
}

textarea{
    color: white;
    font-size: 25px !important;   
}

/* Background images for pages*/
#login{
    min-height: 100vh;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* Got help adding a background overlay shadow to darken the background image here https://stackoverflow.com/questions/36679649/how-to-add-a-color-overlay-to-a-background-image */
    background:  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("/static/images/flags.jpg") center center no-repeat;
    background:  -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/images/flags.jpg") center center no-repeat;
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/images/flags.jpg") center center no-repeat;
    background-size: cover;
}

#register{
    min-height: 100vh;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background:  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("/static/images/pitch.jpg") center center no-repeat;
    background:  -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/images/pitch.jpg") center center no-repeat;
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/images/pitch.jpg") center center no-repeat;
    background-size: cover;
}

#event{
    min-height: 100vh;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    background:  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("/static/images/pitch2.jpg") center center no-repeat;
    background:  -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/images/pitch2.jpg") center center no-repeat;
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/images/pitch2.jpg") center center no-repeat;
    background-size: cover;
}

#edit-event{
    min-height: 100vh;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background:  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/static/images/training.jpg") center center no-repeat;
    background:  -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/images/training.jpg") center center no-repeat;
    background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/images/training.jpg") center center no-repeat;
    background-size: cover;
}

#manage-event{
    min-height: 100vh;
    overflow-x: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background:  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("/static/images/calendar.jpg") center center no-repeat;
    background:  -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/images/calendar.jpg") center center no-repeat;
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/images/calendar.jpg") center center no-repeat;
    background-size: cover;
}

.event-card{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

/* Detail Modal */

.modal-text{
    font-size: 1.25rem;
}

.line {
    width: 70%;
    border: 1px solid;
}

/* Delete Modal */

.modal-button{
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}


/* Datepicker text colour */

.datepicker-controls .select-month input{
    color: black;
    width: 125px;
}

.datepicker-controls .select-year input{
    color: black;
    width: 55px;
}

/*---- Footer ----*/


.footer-icons{
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 10px;
   font-size: 25px;
}

.footer-icons a {
    color: white;  
}

.footer-icons a:hover {
   color: black;
   background: transparent;
}

.footer{
    color: white;  
}


/* media queries*/ 

@media (max-width: 576px){
    .title{
        font-size: 3rem;
    }

    .info-text{
        font-size: 1.5rem;
    }

    .btn-parallax{
        font-size: 10px;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 5rem;
    }
}

@media (max-width: 768px){
    .btn-parallax{
        font-size: 12px;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 5rem;
    }
}