body {
    background-color: #fefae0;
}

.card{
    margin-left: 5px;
    margin-right: 5px;
}

/* css styling for getting buttons centered in parallax found on https://codepen.io/j_holtslander/pen/NoKqQP */
.parallax-container 
	.valign-wrapper	{
		height: 100%;
    }

.btn-parallax{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 10rem;
}

