{% extends "base.html" %}
{% block content %}

    <H3 class="center-align">Edit Profile</h3>
    <div class="row">
        <form class="col s12 m6 offset-m3 brown lighten-5" method="POST"
            action="{{ url_for('edit_profile', username=session['user']) }}">
    
            <!--Pick group-->
            <div class="row">
                <div class="input-field col s12 m10">
                    <select id="group_name" name="group_name" class="validate" required multiple>
                        <option value="" disabled selected>Select Group</option>
                        <h4>Groups</h4>
                        <p>Please select the Groups you want to add to your profile</p>
                        <p class="center-align">
                            {% for group in groups %}
                            <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                            {% endfor %}
                    </select>
                    <label for="group_name">Select Group</label>
                </div>
            </div>
    
            <!--Submit button-->
            <div class="row">
                <p class="center-align">
                    <button type="submit" class="waves-effect waves-light blue lighten-3 btn">Update Groups</button>
                    <a href="{{ url_for('profile', username=session['user']) }}"
                        class="waves-effect waves-light red lighten-2 btn">Cancel</a>
                </p>
            </div>
        </form>
    </div>


{% endblock %}