{% extends "base.html" %}
{% block content %}

    <div class="parallax-container">
        <div class="valign-wrapper">
            <div class="row center">
                <p class="centre-align text-black title">Club Planner</p>
                <p class="centre-align text-black info-text">A central point for scheduling club activities.</p>
                <a href="{{ url_for('login') }}" class="waves-effect waves-light red lighten-2 btn btn-parallax">Log In</a>
                <a href="{{ url_for('register') }}" class="waves-effect waves-light blue lighten-3 btn btn-parallax">Register</a>
            </div>
        </div>
            <div class="parallax"><img class="responsive-img" src="{{ url_for('static', filename='images/calendar.jpg') }}">
            </div>
    </div>
    
    <H1 class="grey-text text-darken-4 center-align">Upcoming Events</H1>
    
    <div class="row">
        {% for event in events %}
        <div class="container">
            <div class="card brown lighten-5 center-align hoverable col s12 m12 l4">
                <div class="card-title grey-text text-darken-4 center-align">
                    <span class="grey-text text-align-center text-darken-4">
                            <strong>{{ event.group_name }}</strong><br>
                        
                    </span>
                        {% if event.facility_name|lower() == "main pitch" %}
                        <i class="material-icons prefix">sports_volleyball</i>
                        {% elif event.facility_name|lower() == "club house" %}
                        <i class="material-icons prefix">other_houses</i>
                        {% elif event.facility_name|lower() == "training pitch"%}
                        <i class="material-icons prefix">directions_run</i>
                        {% endif %}
                    <div class="card-content">
                        <span class="grey-text text-align-center text-darken-4 center-align">{{ event.facility_name }}<br>
                                {{ event.event_name}}<br>
                                {{ event.facility_name }}<br>
                                {{ event.event_date }}<br>
                                {{ event.event_time }}<br>
                                {{ event.event_description }}<br>
                                <br>
                            <br>
                        </span>
                    </div>
                </div>
            </div>
    
        </div>
    {% endfor %}
  </div>



{% endblock %}