{% extends "base.html" %}
{% block content %}


    
    <H1 class="grey-text text-darken-4 center-align">Profile Page</H1>

    <h3 class="grey-text text-darken-4 center-align">{{ user.username.capitalize() }} this is your current Profile </h3>
    
    {% for user in users %}
        
        <div class="row">    
            <div class="container">
                <div class="card brown lighten-5 center-align hoverable col s12 m6 offset-m3">
                    <div class="card-title grey-text text-darken-4 center-align">
                        <span class="grey-text text-align-center text-darken-4">
                            <strong>Username:</strong>  {{ user.username.capitalize() }}<br>
                        </span>
        
                        <div class="card-content">
                            <span class="grey-text text-align-center text-darken-4 center-align">
                                <p class="centre-align">
                                    <strong>Groups that you are currently watching:</strong>
                                </p>
                                {{ user.group_name }}<br>
                            </span>
                        </div>
                        <div class="row">
                            <p class="center-align">
                                <a href="#" class="waves-effect waves-light red lighten-2 btn modal-trigger">Update Profile</a>

                            </p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        
   {% endfor %}



{% endblock %}