{% extends "base.html" %}
{% block content %}

    <H2 class="center-align">Register</H2>

  <div class="row">
      <form class="col s6 m4 offset-m4" method="POST" action="{{ url_for('register') }}">
          <div class="card-panel brown lighten-5">
              <!--username  -->
              <div class="row">
                  <div class="input-field col s8 m8 offset-m2 grey-text text-darken-4 center-align">
                      <input id="username" name="username" type="text" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                      <label for="username">Username</label>
                      <span class="helper-text" data-error="Username must be at least 5 characters and can contain numbers" data-success="Accepted"></span>
                  </div>
              </div>
              <!--password-->
              <div class="row">
                  <div class="input-field col s8 m8  offset-m2 grey-text text-darken-4 center-align">
                      <input id="password" name="password" type="password" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                      <label for="password">Password</label>
                      <span class="helper-text" data-error="Password must be at between 5 and 15 characters" data-success="Accepted"></span>
                  </div>
                </div>
                <!--register button-->
                <div class="row">
                    <button type="submit" class="col s8 m8 offset-m2 waves-effect waves-light red lighten-2 btn">Register</button>
                </div>
          </div>
      </form>
  </div>

{% endblock %}