{% extends "base.html" %}
{% block content %}


<!--   Events Display     -->
<H2 class="grey-text text-darken-4 center-align">Summary of All Events</H2>

<div class="row">
    
    <div class="container">
        <div class="brown lighten-5 grey-text text-darken-4">
            <div class=" center-align">
{% for event in events %}
                <strong>{{ event.facility_name }}</strong><br>
                <strong>{{ event.event_name}}</strong><br>
                <i class="card-text">Date: </i> {{ event.event_date }}<i class="card-text"> Time: </i> {{ event.event_time }}<br>
                 <hr class="line">
{% endfor %}
            </div>
        </div>
    </div>
</div>
<!--   Search Option    -->
<div class="row">
    <div class="card brown lighten-5 col s12 m6 offset-m3">
        <form action="{{ url_for('searchall') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 ">
                    <i class="grey-text text-align-center text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate black-text" required>
                    <label for="query">Search Events</label>
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col s12 center-align ">
                    <a href="{{ url_for('summary') }}" class="waves-effect waves-light red lighten-2 btn"><i
                            class="fas fa-redo-alt left"></i>Reset</a>
                    <button type="submit" class="waves-effect waves-light blue lighten-3 btn">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
        


{% endblock %}