{% extends "base.html" %}
{% block content %}
<section id="manage-event">

<!--   Events Display     -->
<H2 class="login center-align">Summary of All Events</H2>

<div class="row">
    {% if session.user %}
    <p class="center-align"><a href="{{ url_for('add_event') }}"
            class="waves-effect waves-light blue lighten-3 btn">Create Event</a></p>
    {% else %}
    <p class="center-align"><a href="{{ url_for('login') }}" class="waves-effect waves-light red lighten-2 btn">Log
            In</a>
        <a href="{{ url_for('register') }}" class="waves-effect waves-light blue lighten-3 btn">Register</a></p>
    {% endif %}
</div>

<div class="row">
    <div class="container">
        <div class="brown lighten-5 grey-text text-darken-4">
            <div class=" center-align">
                {% for event in events %}
                <strong>{{ event.facility_name }}</strong><br>
                <strong>{{ event.event_name}}</strong><br>
                <i class="card-text">Date: </i> {{ event.event_date }}<i class="card-text"> Time: </i>
                {{ event.event_time }}<br>
                <hr class="line">
                {% endfor %}
            </div>
        </div>
    </div>
</div>

</section>

{% endblock %}